/* tablet view  */
@media screen and (max-width: 1024px) {
    header h1, main h1 {
        font-size: 35px;
        line-height: 45px;
    }
    header p, main p, li, a {
        font-size: 20px;
        line-height: 35px;
    }
    i {
        font-size: 15px;
    }


    header .common-nav nav {
        flex-direction: column;
        gap: 20px;
        padding: 10px 0 0 0;
        margin: 0px 0 150px 0;
    }



    main .wedding {
        flex-direction: column;
        gap: 20px;
        margin: 50px 0 0 0;
    }
    main .wedding .img-area img {
        width: 100%;
    }
    main .wedding .text-area {
        width: 100%;
        text-align: center;
    }
    main .wedding .text-area p {
        margin: 10px 0 10px 0;
    }


    main .services .cards {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    } 


}



/* mobile-view */
@media screen and (max-width: 500px) {

    header .common-nav nav ul {
        display: grid;
        grid-template-columns: auto auto;
    }

    header .common-nav {
        margin-bottom: 200px;
    }

    header .overlay {
        height: 600px;
    }



    main .services .cards {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    } 


    footer ul {
        display: grid;
        grid-template-columns: auto auto;
    }


}